

<ion-content [fullscreen]="true">
<app-header title="Login"></app-header>

<form (submit)="ingreso()">
  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">password</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
  </ion-item>

 <ion-button type="submit">login</ion-button>
 <div *ngIf="error">
  <p>{{ error }}</p>
</div>
</form>






  <a [routerLink]="['/home']"  >Volver a home</a>
  <app-footer></app-footer>
</ion-content>
